<table>
  <tr>
    <th>Id</th>
    <th>Nome da Peça</th>
    <th>Nome da Maquina</th>
    <th>Quantidade</th>
    <th>Preço</th>
    <th>Btns</th>
  </tr>
  @for (part of parts(); track $index) {
  <tr>
    <td>{{ part.id }}</td>
    <td>{{ part.partsName }}</td>
    <td>{{ part.machineName }}</td>
    <td>{{ part.quantity }}</td>
    <td>{{ part.price }}</td>
    <td class="b">
      <img src="https://cdn-icons-png.flaticon.com/512/1057/1057097.png" alt="icon de editar">
      <img src="https://cdn-icons-png.flaticon.com/512/5963/5963185.png" alt="icon de deletar" (click)="deletePart(part.id!)">
    </td>
  </tr>
  }
</table>
