<div class="responsive-table">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome da Peça</th>
        <th>Nome da Máquina</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Btns</th>
      </tr>
    </thead>
    <tbody>
      @for (part of parts(); track $index) {
      <tr>
        <td>{{ part.id }}</td>
        <td>{{ part.partsName }}</td>
        <td>{{ part.machineName }}</td>
        <td>{{ part.quantity }}</td>
        <td>{{ part.price }}</td>
        <td class="b">
          <img
            src="https://cdn-icons-png.flaticon.com/512/1057/1057097.png"
            alt="icon de editar"
            (click)="editPart(part.id!)"
          />
          <img
            src="https://cdn-icons-png.flaticon.com/512/5963/5963185.png"
            alt="icon de deletar"
            (click)="deletePart(part.id!)"
          />
        </td>
      </tr>
      } @empty {
        <span class="empty">Lista Vazia</span>
      }
    </tbody>
  </table>
</div>
<button class="btn" (click)="registerPart()">Registrar nova Peça</button>
