:host {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  text-align: justify;
  color: var(--blue-color);

  padding: 1rem;
  button {
    margin-top: 6rem;
  }
}

@media (min-width: 1000px) {
  :host {
    width: 40%;
    margin-right: 10rem;
  }
}
